blessed==1.20.0
inquirer==3.1.2
joblib==1.2.0
numpy==1.24.2
pandas==1.5.3
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2022.7.1
readchar==4.0.3
scikit-learn==1.2.1
scipy==1.10.0
six==1.16.0
tabulate==0.9.0
threadpoolctl==3.1.0
wcwidth==0.2.6
